.footer {
  align-items: center;
  background-color: #282c34;
  color: #fff;
  display: flex;
  flex-direction: column;
}

a {
  color: #fff;
}

.iconContainer {
  align-items: center;
  display: flex;
  height: 20px;
  padding: 20px 0;
}
